 
/* ====== About ====== */
.about {
  overflow: hidden;
 
  .section-header {

  }

  .section-body {

    .column-1 {
      position: relative;

      &:before {
        content: "About";
        position: absolute;
        font-size: 8rem;
        font-weight: 800;
        color: var(--main-color);
        opacity: 0.04;
        top: 20px;
        left: 0;
        line-height: 0;
      }
 
      p.text {
        margin-top: 1rem;
      }

      .skills {
      margin: 1.5rem 0 2.5rem 0;

        .skill {
          margin: 1rem 0;

          .skill-title {
            color: #555;
            font-weight: 600;
            margin-bottom: 0.3rem;
          } 

          .skill-bar {
            width: 70%;
            height: 8px;
            border-radius: 4px;
            background-color: #ece6fa;
            position: relative;
            overflow: hidden;

            .skill-progress {
              position: absolute;
              height: 100%;
              width: 0%;
              top: 0;
              left: 0;
              background-color: var(--main-color);
              transition: 1s;
            } 
          }
        } /*  skill */
      } /*  skills */

    } /*  column-1 */

    .column-2 {

      img {
        max-width: 600px;
      }

      .points {
        width: 300px;
        top: 65%;
        left: 80%;
        opacity: 0.1;
      }

    }
    
  } /*  section-body */

  
} /*  about */

 