 
/* ====== Blog ====== */
.blog-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;

  .blog-wrap {
    margin: 1.3rem 0.5rem;
    position: relative;
    
    .blog-card {
      max-width: 420px;
      width: 100%;
      overflow: hidden;
      background-color: var(--light-two);
      transition: 0.3s;
      position: relative;

      &:hover {
        transform: translateY(-15px);

        &:after {
          height: 8px;
        }

        .blog-image img {
          transform: translate(-50%, -50%) scale(1.15);
        }
      }

      &:after {
        content: '';
        position: absolute;
        width: 1100%;
        // height: 8px;
        height: 0;
        bottom: 0;
        left: 0;
        background-color: var(--main-color);
        transition: 0.3s;

      }

      .blog-image {
        width: 100%;
        height: 270px;
        position: relative;
        overflow: hidden;

        img {
          position: absolute;
          height: 105%;
          width: initial;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: .5s;
        }
      }

      .blog-content {
        padding: 2.1rem 2.2rem 2.7rem 2.2rem;

        .blog-info {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 0.5rem;

          h5 {
            color: var(--main-color);
            font-weight: 400;
            text-transform: uppercase;
            font-size: 1.05rem;
            letter-spacing: 2px;
          }

          .blog-date {
            margin-right: 2rem;
          }

          .blog-user {
            margin-right: 0.2rem;
            font-size: 1rem;
          }

          .blog-text {
            margin: 0.5rem 0 1.5rem 0;
            font-size: 1.2rem;
            line-height: 1.6;
            color: #666;
          }
        }
      } /*  blog-content */
    } /*  blog-card */
    .points {
      top: 72%;
      right: 71%;
      opacity: 0.15;
    }
  } /*  blog-wrap */
} /*  blog-wrapper */
 