 
/* ====== Hire me ====== */
.hireme {
  padding: 12rem 0;

  .container {
    text-align: center;

    .title {
      margin-bottom: 1.3rem;
    }

    .text {
      max-width: 1000px;
      margin: 0 auto 1.6rem auto;
    }
  }
}

  