 
/* ====== Records ====== */
.records {
  position: relative;
  background-color: var(--main-color);
  padding: 5.2rem 0;

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;

    .wrap {

      .record-circle {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        // background-color: #fff;
        margin: 0 auto;
        border: 4px solid var(--light-one);
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--light-one);

        &.active {
          background-color: var(--light-one);
          color: var(--dark-one);
          box-shadow: 0 0 0 15px rgba(255,255,255,0.5);
        }

        .number {
          font-weight: 400;
          font-size: 2.35rem;
        }

        .sub-title {
          font-weight: 400;
          font-size: 1.12rem;
          text-transform: uppercase;
        }
      } /*  record-circle */
    } /*  wrap */
  } /*  container */

  .square1 {
    // left: 8%;
    // top: 10%;
  }

  .square2 {
    right: 90px;
    bottom: 70px;
  }

  .records .xshape {
    top: 45px;
    right: 120px;
  }

  .circle {
    // left: 7%;
    // bottom: 50px;
  }

  .triangle {
    left: 65%;
    bottom: 35px;
  }

  .wave1 {
    top: 35px;
    right: 30%;
  }

  .wave2 {
    bottom: 80px;
    left: 8%;
  }

  .half-circle {
    top: 30px;
    right: 50%;
  }

} /*  records */