 
/* ====== Services ====== */
.services {

  // .section-header {
  //   text-align: center;
  //   margin-bottom: 1.5rem;

  //   .text {
  //     max-width: 600px;
  //     margin: 0 auto;
  //   }
  // }

  .icon {
    width: 90px;
    margin-bottom: 1.7rem;
  }

  // .title {
  //   display: inline-block;
  //   padding-bottom: 1rem;
  //   line-height: 1;
  //   font-size: 2.8rem;
  //   position: relative;
  //   margin-bottom: 0.6rem;

  //   &:before {
  //     content: attr(data-title);
  //     display: block;
  //     margin-bottom: 0.4rem;
  //     color: var(--main-color);
  //     font-size: 1.15rem;
  //     font-weight: 500;
  //     text-transform: uppercase;
  //     letter-spacing: 3px;
  //   }

  //   &:after {
  //     content: "";
  //     position: absolute;
  //     width: 90px;
  //     height: 5px;
  //     border-radius: 3px;
  //     background-color: var(--main-color);
  //     bottom: 0;
  //     left: 50%;
  //     transform: translateX(-50%);
  //   }
  // } /* title */

  .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    .card-wrap {
      margin: 1.7rem .8rem;
      position: relative;

      .card {
        width: 100%;
        max-width: 390px;
        min-height: 520px;
        background-color: var(--light-three);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 3rem 2rem;
        overflow: hidden;
        position: relative;
        transition: 0.3s;

        .card-content {

          .title-sm {
            // color: var(--dark-one);
            // font-weight: 600;
            // font-size: 1.6rem;
            line-height: 0.8rem;
          }
        }

        .text {
          font-size: 1.15rem;
          margin: 1.8rem 0;
        }

        // .btn.small {
        //   padding: 0.7rem 1.8rem;
        //   font-size: 1rem;
        // }

        &:before {
          content: attr(data-card);
          position: absolute;
          top: -10px;
          right: -10px;
          font-size: 6rem;
          font-weight: 800;
          line-height: 1;
          color: var(--main-color);
          opacity: 0.025;
        }

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 0;
          bottom: 0;
          left: 0;
          background-color: var(--main-color);
          transition: 0.3s;
        }

        /*  Error on hover - infinite shake */

        // &:hover:after {
        //   height: 8px;
        // }

        // &:hover {
        //   transform: translateY(-15px);
        //   &:after {
        //     height: 8px;
        //   }
        // }

       

      } /*  card */

       /*  Solution to hover error */
        &:hover .card {
          transform: translateY(-15px);
          &:after {
            height: 8px;
          }
        }

        .points1 {
          bottom: -50px;
          left: -125px;
          opacity: 0.2;
          pointer-events: none;
        }

        .points2 {
          bottom: -70px;
          right: -65px;
          opacity: 0.2;
          pointer-events: none;
        }
    } /*  card-wrap */
  } /*  cards */

  

   
} /*  services */
