 
/* ====== Testimonials ====== */
.testimonials {
  background-color: var(--light-two);
  overflow: hidden;

  .testi-content {
    margin-top: 6rem;
    
    .column-1 {

      &.reviews {
        overflow: hidden;
      }

      .review {
        position: relative;
        padding: 2rem 1.5rem;

        .rate {
          display: flex;
          font-size: 1.4rem;
          color: #ebc000;
          margin-bottom: 1.5rem;

          svg {
            margin-right: 0.3rem;
          }
        }

        .review-text {
          font-size: 1.35rem;
          font-weight: 300;
          color: #444;
          line-height: 1.7;
        }

        .review-info {
          margin-top: 2rem;

          .review-name {
            font-size: 1.3rem;
            font-weight: 700;
            color: var(--dark-one);
          }

          .review-job {
            font-size: 1.15rem;
            font-weight: 300;
            color: #777;
          }
        }

        .quote {
          position: absolute;
          top: 0;
          left: 0;
          color: var(--main-color);
          opacity: 0.04;
          font-size: 8rem;
        }

      } /*  review */

      .swiper-container {
        position: relative;
        
          .review-nav {
          bottom: 2.2rem;
          top: initial;
          font-size: 1.8rem;
          color: var(--main-color);
          display: flex;
          justify-content: space-between;
          position: absolute;

          &.swiper-button-prev:after, &.swiper-button-next:after {
            display: none;
          } 
        }

        .swiper-button-next {
          right: 2rem;
          left: initial;
          cursor: pointer;
          // position: absolute;
          z-index: 5;
        }

        .swiper-button-prev {
          right: 4.5rem;
          left: initial;
          cursor: pointer;
          // position: absolute;
          z-index: 5;
        }
 
      } /*  swiper-container */

      
    } /*  column-1 */

    .column-2 {
      /*  nothing here */
    } /*  column-2 */
  }
} /*  testminials */
 
 